/* body{
    font-family: "montserrat"; 
} */

#title{
    
    color: white;
    /* color: #F40968; */
    
}

/* #title a{
    font-weight: 9000; */
    /* font-weight: 900;
    font-size: 28px;
} */

body{
    background-color:#040303;
}
h1{
    font-family: Montserrat-Black;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem ;
    color: #F40968;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.nav-item{
    padding: 0 18px;
}

section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}
.grid-container {
    /* position: relative; */
    overflow: hidden;
    /* min-height: 100vh; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;
    /* margin-left:50px; */
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    
    
    
  }
.boxone{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
    
}

.boxtwo{
    height: 600px;
    text-align: justify;
}
.boxone div{
    /* background-color: #79FDF9; */
    /* background-color: #BCFFB9; */
    background-color: #80ECFF;
}

.boxtwo div{
    /* background-color: #FC92E3; */
    background-color: #BCFFB9;
}

  .grid-container  div {
    /* background-color:#FFDCDC; */
    
    padding: 20px 0;
    
    margin: 3% 10%;
  
  }

p {
    font-size: 28px;
    padding-left: 50px;
    font-weight: 300;
    overflow: auto;
}


.one{
    /* width: 375px;
    height: 281.5px; */
    width: 550px;
    height: 400px;
    float: right;
    margin-left: 20px;
    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}


.two{
    width: 480px;
    height: 300px;
    float:left;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 60px;
    
}
















.leftside{
    width: 93%;
    height: 281.5px;
    float:left;
     /* margin-left: 70px;
    margin-top: 10px; */
    gap: 10px;
    /* padding: 60px; */

}

.sanya{
   
    padding: 3% 15%;
}



.rightside{
    width: 93%;
    height: 281.5px;
    /* margin-right: 70px; */
    float:right;
    /* margin-top: 10px; */
    gap: 10px;
    /* padding: 60px; */
}

label{
    font-size: 20px;
}


 .last{
   font-size:20px;
   padding: 0;
   font-weight: 500;
   color:#FC5404;
}


.btn{
    width: 50%;
    transition-duration: 0.4s;
    margin-left: 110px;
    margin-top: 10px;
}

/* .btn-primary:hover {
    background-color: #1013ee; 
    color: white;
    
  } */


.content{
    font-size: 40px;
    padding-left: 50px;
    font-weight: 300;
    overflow: auto;
    text-align: center;
   
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
ul{
    font-size: 28px;
    margin-right: 40px;
    
    
} 
li{
    margin-left: 530px;
}

/* form{
    width: 40%;
    padding-left: 70px;
    margin-left: 70px;
    margin-right: 40px;
    margin-top: 30px;
}
 */
 form{
    color:white;
}
.home-image{
    width: 100%;
    

}


.table{
    border-spacing:0px;
    background-color: #EFF48E;
    
}

table,th,td{
    border: 1px solid black;
}




h3{
    font-size: 1.5rem; 
    font-family: "Montserrat" ;
    
}





.col-lg-4{
    text-align: center;
    
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.menu{
    margin-top: 1800px;
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background: #040303;
}

.container{
    margin-top: 1700px;
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.container .box{
    color: #929796;
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}
.container .box  img{
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
    max-height: 200px;

}
.container .box:hover{
    background: #e91e63;

}
.container .box p{
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
.container .box:nth-child(1){
    grid-column: span 2 ;
    grid-row: span 1;
}
.container .box:nth-child(2){
    grid-column: span 1 ;
    grid-row: span 2;
}
.container .box:nth-child(3){
    grid-column: span 2 ;
    grid-row: span 1;
}
.container .box:nth-child(4){
    grid-column: span 1 ;
    grid-row: span 2;
}
.container .box:nth-child(5){
    grid-column: span 2 ;
    grid-row: span 1;
}
.container .box:nth-child(6){
    grid-column: span 2 ;
    grid-row: span 2;
}
.container .box:nth-child(7){
    grid-column: span 2 ;
    grid-row: span 1;
}

@media(max-width: 991px){
    .container{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);
    }
    .container .box{
        grid-column: unset !important ;
        grid-row: unset !important;
    }
}




footer{
    text-align:left;
    background-color:#040303;
    padding: 7% 15% ;
    font-family: "Montserrat-Bold";
    font-size: large;
    color: #06FF00;
    bottom: 0;
  
  
 } 

.i{
    margin: 5px;
}

/* @media(min-width: 576px){
    .card-deck{
        display: flex;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px; 
    }
} */

.custom{
    position: relative;
    display: inline-block;
    /* padding: 12px 36px; */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    /* background: linear-gradient(90deg,#0162c8,#55e7fc); */
    text-align: center;


}

/* .mainVideo{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

} */

